* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color: hsl(217, 54%, 11%);
  }

nav {
  width:30%;
  border-radius:20px;
  border: 2px solid hsl(216, 50%, 16%);
  background-color: hsl(216, 50%, 16%);
}

.image {
  width:100%;
  text-align:center;
  padding:20px 0px;
}

.image img {
  width:90%;
}

.heading {
  color: hsl(0, 0%, 100%);
  padding:0px 10px 0px 30px;
}

.heading h1 {  
  font-size: 25px;
}

.heading p {
  color: hsl(215, 51%, 70%);
  padding:10px 0px;
}

/* header */
header {
  padding: 20px 30px;
  display:flex;
  justify-content: space-between;
}

.main-header{
  color: hsl(178, 100%, 50%);
  display:flex;
}

.para{
  padding:0px 10px;
}

/* Profile */
.profile {
  display:flex;
  align-items:center;
  padding:10px 20px;
}

.profile img {
  width:60px;
  height:60px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.profile-par {
  padding:0px 20px;
  color: hsl(0, 0%, 100%);
}

.profile-par p b {
  color: hsl(215, 51%, 70%);
}

/* Media Queries of 1055px */
@media (max-width:1055px) {
nav {
  width:40%;
}
}

/* Media Queries of 850px */
@media (max-width:850px) {
nav {
  width:48%;
}
}

/* Media Queries of 700px */
@media(max-width:700px){
nav{
  width:56%;
}
}

/* Media Queries of 556px */
@media(max-width:556px){
nav{
  width:80%;
}

.heading {
  padding:0px 10px 0px 20px;
}

.heading h1 {  
  font-size: 20px;
}

.profile-par {
  padding:0px 10px;
}
}